:root {
  --blue:#5F6CAF;
  --green:#5BBFBA;
}
.pending-card-header{
  display:flex;
  align-items: center;
  padding: 1rem;
}
.pending-card-header-right{
  margin-left: auto;
}
.pending-card-header-text{
  margin-left: 1rem;
  color: var(--blue)
}
.MuiTableCell-root {
  border-bottom: none !important;
}
.MuiSvgIcon-colorPrimary {
  color:var(--green) !important;
}
.MuiTableCell-root{
  font-size: 0.8rem !important;
  padding: 4px 20px 4px 16px !important;
}