:root {
  --blue:#5F6CAF;
  --green:#5BBFBA;
}
.logo{
  height:40px;
  width :100px;
}
.pending-card-header{
  display:flex;
  align-items: center;
  padding: 1rem;
  width: 400px;
  box-sizing: border-box;
}
.pending-card-header-right{
  margin-left: auto;
}
.pending-card-header-text{
  margin-left: 1rem;
  color: var(--blue)
}
.MuiTableCell-root {
  border-bottom: none !important;
}
.MuiSvgIcon-colorPrimary {
  color:var(--green) !important;
}
.MuiTableCell-root{
  font-size: 0.8rem !important;
  padding: 4px 20px 4px 16px !important;
}
.quote-form-container{
  display: grid;
  grid-template-columns:100px 100px;
  grid-gap: 10px;
}
.MuiTableContainer-root{
  width:400px !important;
}
.quote-form-container{
  display: grid;
  grid-template-columns: auto auto;
}
.MuiButton-root{
  border-radius: 40px !important;
  margin:10px 5px !important;
}
.MuiButton-containedPrimary{
  background-color: var(--green) !important;
}